# Environments
.venv
.env

# Django #
*.log
*.pot
*.pyc
__pycache__
db.sqlite3

# Only for Development
**/migrations/**
!**/migrations
!**/migrations/__init__.py

# vscodes
.vscode

# settings
**/settings/.env